@{
    Layout = @"../Shared/_default.cshtml";
}
<article>
    <figure>
            <img src="@Model["image"]" alt="@Model["name"]" />
        </figure>
    <section>
        <h1>@Model["name"]</h1>
        @RenderBody()
    </section>
    <section style="clear: both;"></section>
</article>
