<html>
    <head>
        <title>@ViewBag.Title - For Real Recordings</title>
        <environment names="Development">
            <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/styles.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <a href="~/" class="logo"><img src="~/img/logo.png" /></a>
            </header>
            <hr />
            <partial name="_MainMenu" />
            <div class="container">
                @RenderBody()
            </div>
            <hr />
            <partial name="_MainMenu" />
            <footer>
            </footer>
        </div>
    </body>
</html>