<html>
    <head>
        <title>@ViewBag.Title - For Real Recordings</title>
        <environment names="Development">
            <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/styles.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <partial name="_MainMenu" />
            </header>
            <div class="container">
                @RenderBody()
            </div>
            <footer>
                <partial name="_MainMenu" />
            </footer>
        </div>
    </body>
</html>