<nav>
    <a is-active href="/">Home</a>
    <a is-active href="/releases">Releases</a>
    <a is-active href="/artists">Artists</a>
    <a is-active href="/merch">Merch</a>
    <a is-active href="/contacts">Contacts</a>
</nav>