<nav>
    <a is-active-route class="active" href="~/">Home</a>
    <a is-active-route href="~/releases">Releases</a>
    <a is-active-route href="~/artists">Artists</a>
    <a is-active-route href="~/merch">Merch</a>
    <a is-active-route href="~/contacts">Contacts</a>
</nav>