@model string
@inject OrchardCore.IOrchardHelper Orchard
@addTagHelper *, OrchardCore.Media

@{ 
    var artist = await Orchard.GetContentItemByAliasAsync($"alias:{Model}");
    ViewBag.Title = artist.DisplayText;
}
    
<h1>@artist</h1>
<a href="~/artist/@artist.Content.AliasPart.Alias">@artist</a>
<img asset-src="@artist.Content.Artist.Image.Paths[0]" img-width="100" />
<div>
    @Html.Raw(artist.Content.HtmlBodyPart.Html)
</div>