<nav>
    <a is-active-route asp-page="index">Home</a>
    <a is-active-route asp-page="releases">Releases</a>
    <a is-active-route asp-page="artists">Artists</a>
    <a is-active-route asp-page="merch">Merch</a>
    <a is-active-route asp-page="contacts">Contacts</a>
</nav>