@page

@inject OrchardCore.IOrchardHelper Orchard

@{
    ViewBag.Title = "Home";
}

<section>

</section>
<section>
    <h2>Upcoming Release</h2>
</section>
<section>
    <h2>Latest Releases</h2>
</section>