@{
	var artists = Documents["Artists"].ToList();
	
}
<div class="tiles">
	@foreach(IDocument artist in artists)
	{
		<a href="@(Context.GetLink(artist)).html">
			<img src="@(artist["image"])" alt="" />
			<span class="title">@artist["name"]</span>
		</a>
	}
</div>